################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KitchenServiceV2/bin/Debug/netcoreapp2.0
